{% extends 'store/base.html' %}
{% load static %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<hr/>
<div class="row">
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  <div class="col-6 col-md-4">
    <div class="row">
      {% for ts in target_species %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ts.name}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{% url '" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  </div>
  <div class="col-6 col-md-4"></div>
</div>

<hr/>
<div class="row">
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-4">

<!--Start Product Section-->
  <div class = "row">
   {% for product in product %}
<div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Card image cap">
               <div class="card-body">
                  <h5 class="card-title">{% if product.category %}{{ product.category }}{% else %}Products
                    {% endif %}</h5>
                      <p class="card-text">   </p>

            <div class="item">
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
              <a href="{{ product.get_absolute_url }}">{% if product.name != "Compounded Product" %} {{ product.name }}{% else %}{% for obj in product.product_line_set.all %}{{obj.name}}&nbsp;{% endfor %}{% endif %}&nbsp;{{ product.form }}&nbsp;{{ product.qty}}</a><hr/> Available in:<br/> {% for i in product.packaging.all %} {{i.short_desc}}&nbsp;|{% endfor %}
              <br>

           </div>
          <a href="{{ product.get_absolute_url}}" class="btn btn-primary">Go somewhere</a>
          <form action="{% url "cart:cart_add" product.id %}" method="post">
  {{ cart_product_form }}
  {% csrf_token %}
  <input type="submit" value="Add to cart">
</form>
        </div>
      </div>
    </div>
</div>
<br/>
    {% endfor %}

<!--end product section -->
  </div>
  <div class="col-6 col-md-4"></div>
</div>
<hr/>
  <div id="sidebar">
    <h3>Categories</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
   
      </li>
      {% for c in category %}
        <li {% if category.slug == c.slug %}class="selected"
        {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
<br/>


  <div id="main" class="product-list">
    <h1></h1>


  </div>
{% endblock %}
