{% extends 'store/base.html' %}
{% block title %}
  Checkout
{% endblock %}
{% block content %}
  <h1>Checkout</h1>
  <form method="post" class="order-form">{% csrf_token %}{{ formset.management_form }}
  <div class="order-info">
    <h3>Your Prescription:{{ order_id }}</h3>
<center>
    <table class="table">
      <thead>
        <th>Date written</th>
        <th>Pet Owner</th>
        <th>Pet Name</th>
        <th>Doctor</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Available Packaging</th>
        <th>View PDF</th>
        <th>Delete</th>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          <td>{{form.rx_written}}</td>
          <td>{{formset.order_id}}</td>
          <td>{{form.pet}}</td>
          <td>{{form.doctor}}</td>
          <td>{{form.product}}</td>
          <td>{{form.price}}</td>
          <td>{{form.quantity}}</td>
          <td>{{form.tot_cost}}</td>
          <td>{{form.packaging}}</td>
          <td>Issue Rx</td>
          <td>{% if formset.can_delete %}{% endif %}<li>{{ form.DELETE }}</li></td>
        </tr>
      </tbody>
            {% endfor %}

    </table>
<hr/>
    <p>Total: ${{ cart.get_total_price }}</p>
  </div>
</table>
</center>
    <p><input type="submit" value="Place order"></p>

  </form>
{% endblock %}